[Desktop Entry]
Categories=Application;System;Settings
Comment=Deepin Desktop Environment Locale Setting Tool
Encoding=UTF-8
Exec=/usr/bin/dde-locale
Icon=preferences-system
Name=区域设置
OnlyShowIn=Deepin
StartupNotify=false
Terminal=false
Type=Application
X-MultipleArgs=false
