# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
Makefile
Makefile.*
*.Debug
*.Release
*.rc
*.zip

dde-shutdown/dde-shutdown
debug
release
build*

*.pro.user*
*.qm

misc/*/deepin-toggle-desktop.desktop
