[Desktop Entry]
Name=Deepin Lightdm Greeter
Comment=Deepin Lightdm Greeter
Exec=/usr/bin/deepin-greeter
Type=Application
X-Ubuntu-Gettext-Domain=deepin-lightdm-greeter
