[D-BUS Service]
Name=com.deepin.dde.Notification
Exec=/usr/bin/qdbus --literal com.deepin.SessionManager /com/deepin/StartManager com.deepin.StartManager.Launch /usr/share/applications/dde-osd.desktop
