QPushButton#LayoutButton {
    background-color: transparent;
    border: none;
}

QPushButton#LayoutButton:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border: none
}

QLabel#LayoutTextLabel[Checked = "true"]  {
    color:  #01BDFF;
    font-size: 12px;
}
QLabel#LayoutTextLabel {
    color: white;
    font-size: 12px;
}

