QWidget#RequireShutdownButton {
    border: 2px solid red;
    qproperty-normalIcon:":img/requireshutdown_icon/shutdown_normal.png";
    qproperty-hoverIcon:":img/requireshutdown_icon/shutdown_hover.png";
    qproperty-pressedIcon:":img/requireshutdown_icon/shutdown_press.png";
}

QWidget#RequireRestartButton {
    border: 2px solid red;
    qproperty-normalIcon:":img/requireshutdown_icon/restart_normal.png";
    qproperty-hoverIcon:":img/requireshutdown_icon/restart_hover.png";
    qproperty-pressedIcon:":img/requireshutdown_icon/restart_press.png";
}

QWidget#RequireSuspendButton {
    border: 2px solid red;
    qproperty-normalIcon:":img/requireshutdown_icon/suspend_normal.png";
    qproperty-hoverIcon:":img/requireshutdown_icon/suspend_hover.png";
    qproperty-pressedIcon:":img/requireshutdown_icon/suspend_press.png";
}
