[Desktop Entry]
Categories=GNOME;GTK;System;
Comment=Show desktop or show windows
Exec=/usr/lib/deepin-daemon/desktop-toggle
GenericName=Show Desktop
Icon=deepin-show-desktop
Name=Show Desktop
OnlyShowIn=Deepin;
Terminal=false
Type=Application
X-AppStream-Ignore=true

# Translations:
# Do not manually modify!
GenericName[zh_CN]=显示桌面
Name[zh_CN]=显示桌面

