[Desktop Entry]
Type=Application
Name=Deepin Suspend Dialog
Comment=Deepin suspend confirmation dialog
Icon=deepin-dde
Exec=/bin/false
TryExec=/bin/false
NoDisplay=true
Terminal=false
StartupNotify=false
Categories=System;
