[Desktop Entry]
Type=Application
Name=Deepin Welcome
Comment=Deepin welcome screen
Icon=deepin-dde
Exec=/bin/false
TryExec=/bin/false
NoDisplay=true
Terminal=false
StartupNotify=false
Categories=System;
