[Desktop Entry]
Type=Application
Name=Deepin License Dialog
Comment=Deepin license agreement dialog
Icon=deepin-dde
Exec=/bin/false
TryExec=/bin/false
NoDisplay=true
Terminal=false
StartupNotify=false
Categories=System;
