[Desktop Entry]
Type=Application
Name=Deepin Low Power
Comment=Deepin low power overlay
Icon=deepin-dde
Exec=/bin/false
TryExec=/bin/false
NoDisplay=true
Terminal=false
StartupNotify=false
Categories=System;
