[Desktop Entry]
Type=Application
Name=Deepin Warning Dialog
Comment=Deepin warning dialog
Icon=deepin-dde
Exec=/bin/false
TryExec=/bin/false
NoDisplay=true
Terminal=false
StartupNotify=false
Categories=System;
