Dtk--Widget--DPasswdEditAnimated {
/*    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: rgba(255,255,255,.1);
    background-color: #454647;*/

    color: white;
    border: none;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.15);
}

Dtk--Widget--DPasswdEditAnimated {
    qproperty-loadingEffectColor: rgba(255, 255, 255, 0.35);
}

Dtk--Widget--DPasswdEditAnimated[editFocus="true"] {
/*    border-color: #2CA7F8;*/
}

Dtk--Widget--DPasswdEditAnimated[alert="true"] {
/*    border-color: #FF8F00;*/

    border: 1px solid #f9704f;
}

Dtk--Widget--DPasswdEditAnimated #KeyboardButton {
/*    qproperty-normalPic: url(:/images/dark/images/keyboard-normal.svg);
    qproperty-hoverPic: url(:/images/dark/images/keyboard-hover.svg);
    qproperty-pressPic: url(:/images/dark/images/keyboard-clicked.svg);*/

   qproperty-normalPic: url(":/img/keyboard_normal.svg");
   qproperty-pressPic: url(":/img/keyboard_press.svg");
   qproperty-hoverPic: url(":/img/keyboard_hover.svg");
}

Dtk--Widget--DPasswdEditAnimated #PasswdEdit {
    color: white;
    selection-color: white;
    selection-background-color: rgba(24,135,239,0.30);
}

Dtk--Widget--DPasswdEditAnimated #Capslock {
    qproperty-pixmap: url(":/img/capslock.svg");
}

Dtk--Widget--DPasswdEditAnimated #EyeButton {
/*    qproperty-normalPic: url(:/images/dark/images/pw-visible-normal.svg);
    qproperty-hoverPic: url(:/images/dark/images/pw-visible-hover.svg);
    qproperty-pressPic: url(:/images/dark/images/pw-visible-clicked.svg);*/
}

Dtk--Widget--DPasswdEditAnimated #SubmitButton {
/*    qproperty-normalPic: url(:/images/dark/images/submit-normal.svg);
    qproperty-hoverPic: url(:/images/dark/images/submit-hover.svg);
    qproperty-pressPic: url(:/images/dark/images/submit-clicked.svg);*/
}

Dtk--Widget--DPasswdEditAnimated #InvalidTip {
    qproperty-backgroundColor: white;
}
